In [10]:
import pandas as pd
file_path=open('C:/Users/Administrator/jupyter/2月8日文档/第4章数据文件资源/北京地区信息.csv')
bj=pd.read_csv(file_path,encoding='utf-8')

In [44]:
bj

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14       NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [41]:
bj.head() #读取前5条数据

  省级单位 地级单位 县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0   天津   天津  和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1   天津   天津  河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2   天津   天津  河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3   天津   天津  南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4   天津   天津  河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24

In [13]:
file_path=open('C:/Users/Administrator/jupyter/2月8日文档/第4章数据文件资源/天津地区信息.csv')
tj=pd.read_csv(file_path,encoding='utf-8')

In [14]:
tj.head()

  省级单位 地级单位 县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0   天津   天津  和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1   天津   天津  河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2   天津   天津  河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3   天津   天津  南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4   天津   天津  河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24

In [15]:
bj.duplicated()   #检测是否有重复数据

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool

In [39]:
bj

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14       NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [16]:
bj.drop_duplicates()  #清洗数据 删除重复记录

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14       NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [17]:
pd.isnull(bj)  #检测北京 数据是否存在缺失数据

,省级单位,地级单位,县级单位,区划类型,行政面积（K㎡）,户籍人口（万人）,男性,女性,GDP（亿元）,常住人口（万人）
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False

In [18]:
tj.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool

In [19]:
tj.drop_duplicates()

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14       NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [21]:
pd.isnull(tj)

,省级单位,地级单位,县级单位,区划类型,行政面积（K㎡）,户籍人口（万人）,男性,女性,GDP（亿元）,常住人口（万人）
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False

In [22]:

#缺失值的处理方式  删除 or 填充（平均值 中位数）
tj.dropna()  #按行删除 缺失数据 tj.dropna(axis=0) axis轴

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [24]:
# 填充 (平均值)
tj['常住人口（万人）'].fillna(value=tj['常住人口（万人）'].mean(),inplace=True)

In [25]:
tj

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）    常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62   35.190000
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98   97.610000
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85   99.250000
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09  114.550000
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67   89.240000
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16   56.690000
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08   76.040000
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27   85.370000
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16   89.410000
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14   98.381333
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65  119.960000
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07   92.980000
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00  299.420000
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37   49.570000
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83   79.290000
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55   91.150000

In [26]:
# 箱型图的测试

In [30]:
import matplotlib.pyplot as plt

In [31]:
bj

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）  常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62     35.19
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98     97.61
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85     99.25
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09    114.55
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67     89.24
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16     56.69
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08     76.04
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27     85.37
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16     89.41
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14       NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65    119.96
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07     92.98
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00    299.42
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37     49.57
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83     79.29
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55     91.15

In [29]:
bj.columns[4:]

Index(['行政面积（K㎡）', '户籍人口（万人）', '男性', '女性', 'GDP（亿元）', '常住人口（万人）'], dtype='object')

In [37]:
bj.boxplot(column=list(bj.columns[4:]))

In [34]:
bj.boxplot(column=list(bj.columns[4:]))

In [38]:
pd.concat([bj,tj])

   省级单位 地级单位  县级单位 区划类型  行政面积（K㎡）  户籍人口（万人）     男性     女性  GDP（亿元）    常住人口（万人）
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62   35.190000
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98   97.610000
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85   99.250000
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09  114.550000
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67   89.240000
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16   56.690000
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08   76.040000
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27   85.370000
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16   89.410000
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14         NaN
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65  119.960000
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07   92.980000
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00  299.420000
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37   49.570000
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83   79.290000
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55   91.150000
0    天津   天津   和平区  市辖区        10     42.32  20.37  21.95   802.62   35.190000
1    天津   天津   河东区  市辖区        39     75.79  38.06  37.73   290.98   97.610000
2    天津   天津   河西区  市辖区        37     83.20  40.83  42.37   819.85   99.250000
3    天津   天津   南开区  市辖区        39     87.28  43.30  43.98   652.09  114.550000
4    天津   天津   河北区  市辖区        27     63.42  31.86  31.56   415.67   89.240000
5    天津   天津   红桥区  市辖区        21     51.66  25.93  25.73   208.16   56.690000
6    天津   天津   东丽区  市辖区       460     37.70  18.83  18.87   927.08   76.040000
7    天津   天津   西青区  市辖区       545     14.85  19.85  20.38  1040.27   85.370000
8    天津   天津   津南区  市辖区       401     44.83  22.35  22.48   810.16   89.410000
9    天津   天津   北辰区  市辖区       478     40.39  20.09  20.30  1058.14   98.381333
10   天津   天津   武清区  市辖区      1570     92.27  45.86  46.41  1151.65  119.960000
11   天津   天津   宝坻区  市辖区      1523     71.10  35.72  35.39   684.07   92.980000
12   天津   天津  滨海新区  市辖区      2270    128.18  66.04  62.14  6654.00  299.420000
13   天津   天津   宁河区  市辖区      1414     40.00  20.21  19.79   525.37   49.570000
14   天津   天津   静海区  市辖区      1476     59.79  30.35  29.44   667.83   79.290000
15   天津   天津   蓟州区  市辖区      1593     86.24  43.86  42.38   392.55   91.150000

In [ ]:
pd.concat([bj,tj])